body{
    background-image: url(http://4.bp.blogspot.com/-rAQpU6SY1Uk/UHEPhripcTI/AAAAAAAAAhY/tw8rLKVTx6s/s1600/Best-top-desktop-blue-wallpapers-hd-blue-wallpaper-beautiful-free-backgrounds-20.jpg);
    background-size: cover;
}

#spanform{
    color: red;
}

#spanformok{
    color: rgb(81, 255, 0);
}